*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px 50px;
}

.appname{
    /* border: 2px solid red; */
   display: flex;
   justify-content: space-between;
   padding: 10px 0;
   align-items: center;
   margin-bottom: 15px;
}

a{
text-decoration: none;
margin-right: 20px;
color: black;
padding: 10px;
}

.active{
background-color: black;
color: white;
}

.home-container{
    max-width: 1200px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    align-items: center;
}

.home-product-container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    flex-basis: 30%;
    /* max-width: 250px; */
    align-items:center ;
    justify-content: center ;
    padding: 20px;
    gap: 20px;
    /* column-gap: 20px; */
    margin-right: 20px;
}


img{
    max-width: 150px;
    width: 100%;
    height: 150px;
    
    /* margin-bottom: 15px; */
}

.preview-container{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;

    /* position: absolute;
    z-index: 1;
    align-items: center;
    width: 500px;
    background-color: #fff;
    margin-left: 30%;
    margin-top: 20%; */
  
}

.preview-contant{
     width: 500px; 
     border: 2px solid red; 
     background-color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px; 
    gap: 30px; 
}

.preview-contant img{
    width: 100px;
    height: 100px;
}

.preview-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.cross{
    align-self: end;
    font-size: 30px;
}



.cartitems{
    max-width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px ;
    border: 2px solid red;
    max-width: 700px;
  padding: 20px;

}

.cartitems img{
    width: 50px;
    height: 50px;
}

.checkout{
    width: 700px;
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

label,input{
    display: block;
    margin-bottom: 10px;
}
